html{
	max_width: 100vw;
	background-color: #363636;
}

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

ul{
	display: grid;
	justify-content: center;
	overflow-y: scroll;
	max-height: 70vh;
}

h1{
	display: flex;
	justify-content: center
}

button {
	padding: 40px;
	margin: 10px;
}

a {
	color: #00B7FF;
}

p {
	padding: 10px
	margin: 10px
}

#output {
	overflow-y: scroll;
	overflow-x: scroll;
	max-height: 70vh;
	max-width: 40vw;
	white-space: nowrap;
	background-color: black;
	padding: 10px;
}
